<div
    class="-z-0 absolute h-40 w-full to-blue-800/35 from-pink-900/25
    bg-gradient-to-b dark:from-slate-900 dark:to-pink-600/15 overflow-hidden"
>
    <div
        class="absolute z-10 bottom-0 left-0 w-full overflow-hidden line-height-0 transform rotate-180 bg-transparent"
    >
        <svg
            class="relative block w-full h-[45px]"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="fill-background"></path>
        </svg>
    </div>
</div>
